/* Insert your styles here */

/* Uncomment these rules are just to make regions easier to see */
#main { background: #ccc; }
#content { background: #eee; }
#sidebar-first { background: #ccf; }
#sidebar-second { background: #fcc; }
#main-menu { background: #ffc; }
#secondary-menu { background: #fcf; }
#header { background: #cff; }
#footer { background: #cfc; }
