/* Insert your styles here */

/* Uncomment these rules are just to make regions easier to see */
#main { background: #ccc; }
#content { background: #eee; }
#sidebar-first { background: #ccf; }
#sidebar-second { background: #fcc; }
#main-menu { background: #ffc; }
#secondary-menu { background: #fcf; }
#header { background: #cff; }
#footer { background: #cfc; }


/* END NORMAL STYLES */

/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {

  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  .sidebar, 
  #navigation, 
  #header-region, 
  #search-theme-form,
  #footer,
  .breadcrumb,
  .tabs,
  .feed-icon,
  .links {
	  display: none;
  }

  #page {
	  width: 100%;
  }

  * {
	  background-color: transparent;
  }

  #content,
  #content #content-inner,
  .content,
  .title {
	  margin:20px 0;
	  width: auto;
  }

  a:hover, a:active, a:link, a:visited {
	  color: #000;
  }

  /*CSS2 selector to add visible href after links */
  #content a:link:after,
  #content a:visited:after
  {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }
}
